/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #c0ffbc47 !important;
  margin: 0;
  padding: 0;
}

a {
  color: green !important;
}
a:hover {
  color: #0070f3 !important;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Home component styling */
.home-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.blog-list {
  list-style: none;
  padding: 0;
}

.blog-list-item {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  width: fit-content;
}
.blog-list-item-img {
  display: flex;
}
.blog-list-item-img.image-align-full {
  width: 100% !important;
  height: auto !important;
}
.blog-list-item-img.image-align-center {
  margin: auto;
}
.blog-list-item-img.image-align-right {
  justify-self: flex-end;
}
.blog-list-item-img.image-size-s {
  width: 100px;
  height: 100px;
}
.blog-list-item-img.image-size-m {
  width: 250px;
  height: auto;
}
.blog-list-item-img.image-size-l {
  width: 350px;
  height: auto;
}

.pre-block {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.blog-list-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Blog component styling */
.blog-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.blog-content {
  line-height: 1.6;
}

/* Teaser Block styling */

.teaser-block .teaser-content {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.teaser-block .teaser-head-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.teaser-block .teaser-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.teaser-block .teaser-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.teaser-block .teaser-link {
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
}

.teaser-block .teaser-link:hover {
  text-decoration: underline;
}

/* Button styling */

.home-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #005bb5;
}
