.iframe-container {
  position: 'relative';
  width: '100%';
  height: 'calc(100vh - 95px)';
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  overflow: 'hidden';
}

.input-container {
  display: flex;
  width: 50%;
  margin: 10px auto;
}
.iframe-input-field {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.iframe-input-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

#previewIframe {
  width: calc(100% - 32px);
  height: 100vh;
  border: none;
}
