---
const { block } = Astro.props;
const href = block.href?.[0]?.['@id'] || block.href || '#';
const title = block.title || 'Button';
---
<div class="button-block">
  <a href={href} data-edit-text="title" data-edit-link="href" class="btn">
    {title}
  </a>
</div>
